tox<3 ; python_version < "2.7"
virtualenv==15.* ; python_version < "2.7"
pluggy==0.5.* ; python_version < "2.7"
coveralls ; python_version > "2.6"
tox==3.* ; python_version > "2.6"
tox==4.* ; python_version >= "3.7"
